<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>L2CV2 - Effigy Area Lighting</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-slider.min.css" rel="stylesheet">

    <style>

      body, .modal-body, .modal-header, .modal-footer {

        background-color: black;
        padding-left: 10px;

      }

      .patternbox {

        border: solid black 1px;


      }

    </style>

  </head>
  <body>


    <div id="patternpicker">

      <div class="row">

        <div class="col-md-0 patternbox">
          <div class="patternpic">
            <input type="text" name="d" id="d" /> <button type="button" class="btn btn-primary" id="sendbutton" onclick="sendButton();">Push</button>
          </div>
        </div>

      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-slider.min.js"></script>

    <script>

      function sendButton() {

        $.ajax({
          url: '/send_command/',
          dataType: 'json',
          data: {'instring': + $("#d").val()},
          success: function(data) {

          },
        });

      }

    </script>
  </body>
</html>
