<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>L2CV2 - Effigy Area Lighting</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-slider.min.css" rel="stylesheet">

    <style>

      body, .modal-body, .modal-header, .modal-footer {

        background-color: black;
        color: white;

      }

      .patternbox {

        border: solid black 1px;


      }

    </style>

  </head>
  <body>


    <div id="patternpicker">

      <div class="row">

        <div class="col-md-3 patternbox">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="nextPattern();">Next Pattern</button>
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="$('#waitModal').modal();">Wait</button>
          </div>
        </div>

        <div class="col-md-3 buttonrow">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="$('#foregroundModal').modal();">Foreground Color</button>
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="$('#backgroundModal').modal();">Background Color</button>
          </div>
        </div>


      </div>

      <div class="row">

        <div class="col-md-3 patternbox">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="$('#frequencyModal').modal();">Frequency</button>
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="$('#brightnessModal').modal();">Brightness</button>
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="buttonbox">
            <button type="button" class="btn btn-primary" onclick="$('#foreGround2Modal').modal();">Foreground Color 2</button>
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="buttonbox">

          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3 patternbox">
          <div class="patternpic">
            <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/ants.gif" onclick="showPattern(8);" />
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="patternpic">
            <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/blendMe.gif" onclick="showPattern(2);" />
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="patternpic">
            <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/bpm.gif" onclick="showPattern(14);" />
          </div>
        </div>

        <div class="col-md-3 patternbox">
          <div class="patternpic">
            <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/chase.gif" onclick="showPattern(0);" />
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/confetti.gif" onclick="showPattern(11);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/juggle.gif" onclick="showPattern(13);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/lightning.gif" onclick="showPattern(4);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/one_sin.gif" onclick="showPattern(3);" />
        </div>
      </div>
    </div>

    </div>

    <div class="row">

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/paparockzi.gif" onclick="showPattern(7);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/rainbow.gif" onclick="showPattern(15);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/rainbowWithGlitter.gif" onclick="showPattern(16);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/randBlocks.gif" onclick="showPattern(9);" />
        </div>
      </div>
    </div>

    </div>

    <div class="row">

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/ripple.gif" onclick="showPattern(5);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/sinlon.gif" onclick="showPattern(12);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/two_chase.gif" onclick="showPattern(6);" />
        </div>
      </div>

      <div class="col-md-3 patternbox">
        <div class="patternpic">
          <img class="center-block" style="margin-left:auto;margin-right:auto;width:100px !important;height:100px !important;" src="static/img/wipe.gif" onclick="showPattern(1);" />
        </div>
      </div>
    </div>

    </div>

    <!-- Wait Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="waitModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Wait</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Wait in MS:</div>
                  <div class="col-md-2"><input type="text" id="wait_ms" data-provide="slider" data-slider-min="1" data-slider-max="1000" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" data-slider-on/></div>
                </div>
              </div>

              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-0">
                    <div id="colorpicker"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Run</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ForeGround Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="foregroundModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Foreground Color</h4>
          </div>
          <div class="modal-body">
            <div class="row" id="fgbgcolor">
              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Red:</div>
                  <div class="col-md-2"><input type="text" id="rgb_r" data-provide="slider" data-slider-min="1" data-slider-max="255" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" data-slider-on/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Green:</div>
                  <div class="col-md-2"><input type="text" id="rgb_g" data-provide="slider" data-slider-min="1" data-slider-max="255" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" /></div>
                </div>
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Blue:</div>
                  <div class="col-md-2"><input type="text" id="rgb_b" data-provide="slider" data-slider-min="1" data-slider-max="255" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" /></div>
                </div>
              </div>

              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-0">
                    <div id="colorpicker"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Run</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- BackGround Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="backgroundModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Background Color</h4>
          </div>
          <div class="modal-body">
            <div class="row" id="bgbgcolor">
              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Red:</div>
                  <div class="col-md-2"><input type="text" id="bg_r" data-provide="slider" data-slider-min="1" data-slider-max="255" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" data-slider-on/></div>
                </div>
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Green:</div>
                  <div class="col-md-2"><input type="text" id="bg_g" data-provide="slider" data-slider-min="1" data-slider-max="255" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" /></div>
                </div>
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Blue:</div>
                  <div class="col-md-2"><input type="text" id="bg_b" data-provide="slider" data-slider-min="1" data-slider-max="255" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" /></div>
                </div>
              </div>

              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-0">
                    <div id="colorpicker"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Run</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Brightness Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="brightnessModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Brightness</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-2">Brightness:</div>
                  <div class="col-md-2"><input type="text" id="brightness_ms" data-provide="slider" data-slider-min="5" data-slider-max="1000" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide" data-slider-on/></div>
                </div>
              </div>

              <div class="col-md-0 patternbox">
                <div class="row">
                  <div class="col-md-0">
                    <div id="colorpicker"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Run</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-slider.min.js"></script>

    <script>

      function nextPattern() {

         $.ajax({
           url: '/send_command/',
           dataType: 'json',
           data: {'instring':'p'},
           success: function(data) {

           },
        });

      }

      function showPattern(pat) {

         $.ajax({
           url: '/send_command/',
           dataType: 'json',
           data: {'instring':'q ' + pat},
           success: function(data) {

           },
        });

      }


      $( document ).ready(function() {

        // Foreground
        var fgRGBChange = function() {
      	   $('#fgbgcolor').css('background', 'rgb('+fg_r.getValue()+','+fg_g.getValue()+','+fg_b.getValue()+')')

           $.ajax({
             url: '/send_command/',
             dataType: 'json',
             data: {'instring':'f ' + fg_r.getValue()+' '+fg_g.getValue()+' '+fg_b.getValue()},
             success: function(data) {

             },
          });

        };

        var fg_r = $('#rgb_r').slider().on('slideStop', fgRGBChange).data('slider');
        var fg_g = $('#rgb_g').slider().on('slideStop', fgRGBChange).data('slider');
        var fg_b = $('#rgb_b').slider().on('slideStop', fgRGBChange).data('slider');

        // Background
        var bgRGBChange = function() {
      	   $('#bgbgcolor').css('background', 'rgb('+bg_r.getValue()+','+bg_g.getValue()+','+bg_b.getValue()+')')

           $.ajax({
             url: '/send_command/',
             dataType: 'json',
             data: {'instring':'b ' + bg_r.getValue()+' '+bg_g.getValue()+' '+bg_b.getValue()},
             success: function(data) {

             },
          });

        };

        var bg_r = $('#bg_r').slider().on('slideStop', bgRGBChange).data('slider');
        var bg_g = $('#bg_g').slider().on('slideStop', bgRGBChange).data('slider');
        var bg_b = $('#bg_b').slider().on('slideStop', bgRGBChange).data('slider');

        // Wait
        var waitChange = function() {

           $.ajax({
             url: '/send_command/',
             dataType: 'json',
             data: {'instring':'w ' + wait_val.getValue()},
             success: function(data) {

             },
          });

        };

        var wait_val = $('#wait_ms').slider().on('slideStop', waitChange).data('slider');

        // Brightness
        var brightnessChange = function() {

           $.ajax({
             url: '/send_command/',
             dataType: 'json',
             data: {'instring':'a ' + brightness_val.getValue()},
             success: function(data) {

             },
          });

        };

        var brightness_val = $('#brightness_ms').slider().on('slideStop', brightnessChange).data('slider');

      });

    </script>
  </body>
</html>
